<?xml version="1.0"?>
<model>
	<name>gaze_cylinder</name>
	<version>1.0</version>
	<sdf version="1.5">model.sdf</sdf>

	<author>
		<name>Simon Zsolt</name>
		<email>simonzsolt0308@gmail.com</email>
	</author>
	
	<description>
		A transparent cylinder without contact. It is needed for a "view range" in the world 			attached to the gaze coordinates.
	</description>
</model>
